.gradle
/build/
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
../../.idea/misc.xml
.idea/misc.xml
sandbox/build/tmp/compileJava/previous-compilation-data.bin
sandbox/build/tmp/compileJava/previous-compilation-data.bin
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/MyFirs1tProgram.class
sandbox/build/tmp/compileJava/previous-compilation-data.bin
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/MyFirs1tProgram.class
sandbox/.gradle/buildOutputCleanup/buildOutputCleanup.lock
sandbox/.gradle/7.2/fileHashes/fileHashes.lock
sandbox/.gradle/7.2/fileHashes/fileHashes.bin
sandbox/.gradle/7.2/executionHistory/executionHistory.lock
sandbox/.gradle/7.2/executionHistory/executionHistory.bin
